.clock-item {
  flex-basis: 33%;
  text-align: center;
}

.clock-item__paragraph {
  font-size: 12px;
}


.clock-item__paragraph--bigger {
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0px 10px;
}

@media (min-width: 1200px) {
  .clock-item__paragraph {
    font-size: 24px;
  }

  .clock-item__paragraph--bigger {
    font-size: 100px;
  }
}
