.button {
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fccea0;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: #edba87;
}

.console__button,
.form__button {
  background-color: white;
  margin: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 18px;
}


.button--active,
.button--active:nth-child(odd),
.header .button--active:hover {
  background-color: #fa7a5a;
}

.alarm__button {
  padding: 10px 40px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: red;
  color: white;
}

.form__button {
  background-color: green;
  color: white;
  font-size: 14px;
}

.form__button:hover {
  background-color: #006000;
}

@media (max-width: 540px) {
  .console__button:hover {
    background-color: white;
  }

  .form__button:hover {
    background-color: green;
  }
}

@media (min-width: 800px) {
  .header__button {
    width: 100%;
    margin: 0px;
    padding: 20px 10px;
    font-size: 20px;
    border-radius: 0px;
  }

  .header__button:nth-child(odd):hover {
    background-color: #edba87;
  }

  .header__button:nth-child(odd) {
    background-color: #feeddc;
  }

  .button--active:nth-child(odd),
  .header .button--active:hover {
    background-color: #fa7a5a;
  }

  .console__button,
  .form__button {
    padding: 10px 20px;
    font-size: 28px;
  }

  .form__button {
    font-size: 16px;
    height: 40px;
  }

  .alarm__button {
    font-size: 46px;
  }
}
