.button {
  padding: 10px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;
  background-color: #FCCEA0;
  font-family: 'Roboto', sans-serif;
}

.button:hover {
  background-color: #EDBA87;
}

.console__button,
.form__button {
  background-color: white;
  margin: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.button--active,
.button--active:nth-child(odd),
.header .button--active:hover {
  background-color: #FA7A5A;
}

.alarm__button {
  padding: 10px 40px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: red;
  color: white;
}

.form__button {
  background-color: green;
  color: white;
}

@media (min-width:1200px) {
  .header__button {
    width: 100%;
    margin: 0px;
    padding: 20px 10px;
    font-size: 20px;
    border-radius: 0px;
  }

  .header__button:nth-child(odd):hover {
    background-color: #EDBA87;
  }

  .header__button:nth-child(odd) {
    background-color: #FEEDDC;
  }

  .button--active:nth-child(odd),
  .header .button--active:hover {
    background-color: #FA7A5A
  }

  .console__button,
  .form__button {
    padding: 10px 20px;
    font-size: 24px;
  }

  .alarm__button {
    font-size: 46px;
  }
}
