.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
  flex-grow: 1;
  justify-content: center;
}

@media (min-width:800px) {
  .timer {
    margin-top: 0px;
    max-width: none;
    justify-self: stretch;
  }
}
