.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  max-width: 450px;
}

@media (min-width:1200px) {
  .timer {
    margin-top: 0px;
    max-width: none;
    width: 0;
    justify-self: stretch;
    flex-grow: 1;
  }
}
